h3 h2 {
    font-family: LibreBaskerville;
    text-align: center;
    font-weight: bolder;
  }

p{
    font-family: LibreBaskerville;
}

img {
  justify-content: center;
  padding: 20px;
  align-items: center;

}

.aboutUs {
  text-align: center;
  text-shadow: 2.5px;
}


.foodTruck {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gitsiesLogo {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
