.gitcard {
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: rgb(0, 0, 0);
  box-shadow: 20px 20px rgb(184, 101, 163);
  transition: all .4s ease;
  text-align: center;
  Font-Family: 'Roboto Condensed', Sans-Serif;
  Font-Size: 35px;
  Font-Size: 16px;
  margin: 1.5rem;
}

.cardImg {
   height: 100%;
   width: 100%;
}

.menus {
   padding-top: 15px;
   background-color: #e96196;
background-image: linear-gradient(315deg, #f31ee6 0%, #ffffff 94%);
 backdrop-filter: blur(5px);
}

.pageTitle {
   font-weight: bolder;
   font-size: x-large;
}


.gitcard:hover {
   border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.drinkImg {
  height: 14rem;
}

.cold, .hot, .food{
   padding: 10px;
   border:solid 20px rgb(172, 73, 147);
   
}

.itemName {
   font-weight: bolder;
}

.hotdrink {
   display: flex;
   flex-direction: column;
   padding:0.5rem;
   max-height: 40rem;
   overflow-y: scroll;
   border: rgba(243, 146, 233, 0.534);
   border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
   border-width: 1rem;
   border-style: double;
}

.fitmen {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 255, 255);
   width: 75%;
   margin-left: 2.5rem;
   max-height: 40rem;
   overflow-y: scroll;
   border: #eb91e3;
   border-radius: 10px;
   border-style: solid;
   border-width: .5rem;
   margin-bottom: 2rem;
}

.hotItem {
    display: inline-table;
    border: 3px solid #333333;
    font-size: 1rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 2rem;
}


.fatHead {
   text-align: center;
   align-content: center;
   display: flex;
   flex-direction: column;
}

.addOns {
   padding:5%;
   font-weight: bold;
}

.avos {
   height: 75%;
   width: 75%;
   align-self: center;
}

.foods {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: rgba(243, 146, 233, 0.534);
   border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
   border-width: 1rem;
   border-style: double;
}

.customBlend {
   height: 100%;
   width: 100%;
}
